/* Enter your custom styles here */
.sapUiBlockLayoutCell.customUiBlockCellContent>.sapUiBlockCellContent {
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-left: 2px;
}

.sapMText.customMTextGear{
	font-size: 2.5rem;
	font-weight: bold;
}

.sapMText.customMTextColorYellowGear{
	color: #FFFF00 ;
	font-weight: bold;
}

.sapMText.customMTextColorBlackGear{
	color: #000000 !important;
}

.sapMText.customMTextSpeed{
	font-size: 8rem;
	font-weight: bold;
}

#DialogTableInfo-searchField{
display:none;
}

.customMLIBShowSeparatorFirst>td {
    border-top: none;
}

.customMLIBShowSeparatorLast>td {
    border-bottom: none;
}

.customMLIBShowSeparatorCell {
    border-bottom: none;
}

.customMListShowSeparatorsAll1 .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child>td,.sapMListShowSeparatorsAll .sapMListTblSubRow:last-child>td {
    border-bottom: none
}

.customMListShowSeparatorsAll2 .sapMListShowSeparatorsAll .sapMListTblSubRow:last-child>td,.sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child>td {
    border-bottom: none
}

